/*
This was Developed by https://twitter.com/Arc9067
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@font-face {
  font-family: personal;
  src: url(../img/Font/Persona\ DEMO.otf);
  font-weight: normal;
  font-style: normal;
}
:root {
  --clr-primary: #000;
  --clr-sec: #ba9c3c;
  --white: #ffffff;
  --open: "Open Sans", sans-serif;
  --person: personal;
  --border: 1px solid var(--clr-sec);
  --spacing: 0.5rem;
  --max-width: 1200px;
  --linear: 0.3s all linear;
  --ease: 0.3s all ease;
}

li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--clr-primary);
  line-height: 1.5;
  font-family: var(--open);
  font-size: 1.3em;
}

.loading {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 10000;
  display: grid;
  place-items: center;
}
.loading .spin {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--clr-sec);
  border-radius: 50%;
  border-top-color: var(--white);
  -webkit-animation: spinner 1s linear infinite;
          animation: spinner 1s linear infinite;
}

@-webkit-keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
#header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/home-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--clr-sec);
  color: white;
}
#header #nav {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  position: fixed;
  width: 100%;
  background-color: var(--white);
}
#header #nav .nav-logo {
  display: grid;
}
#header #nav .nav-logo a h2 {
  font-size: 1em;
  text-transform: capitalize;
  color: var(--clr-sec);
  font-family: var(--person), var(--open);
}
#header #nav .nav-icons {
  display: flex;
  place-items: center;
}
#header #nav .nav-icons i:first-child {
  border: none;
}
#header #nav .nav-icons i {
  font-size: 1.5em;
  background-color: #fee5ca;
  color: var(--clr-sec);
  height: 2.5rem;
  width: 2.5rem;
  display: grid;
  place-items: center;
  border-right: 3px solid rgba(176, 14, 46, 0.6352941176);
  cursor: pointer;
}
#header #nav .nav-icons i:last-child {
  margin-left: 1rem;
}
#header #nav .nav-ul {
  height: 300px;
  width: 90%;
  background-color: var(--clr-sec);
  position: absolute;
  right: 0;
  transition: 0.5s background-color, 0.5s transform, 0.5s border-radius ease-in;
  transform: translateY(-2000%);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
#header #nav .nav-ul .nav-ul-icons {
  display: grid;
  justify-items: end;
  padding: 1rem;
}
#header #nav .nav-ul .nav-ul-icons i {
  font-size: 2em;
  justify-self: end;
  color: var(--clr-primary);
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--clr-sec);
  text-align: center;
  border-top: 1px solid #fee5ca;
  border-right: 1px solid #fee5ca;
  cursor: pointer;
}
#header #nav .nav-ul .nav-links {
  padding: 2rem;
}
#header #nav .nav-ul .nav-links ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
#header #nav .nav-ul .nav-links ul li {
  font-family: var(--open);
  font-weight: 600;
  letter-spacing: 0.2rem;
}
#header #nav .displayn {
  transform: translateY(0%);
}
#header .header-content {
  padding-top: 10rem;
  padding: 10rem 1.5rem 1.5rem 1.5rem;
}
#header .header-content h2 {
  text-transform: uppercase;
  font-size: 2em;
}
#header .header-content button {
  text-transform: capitalize;
  background-color: var(--white);
  color: var(--clr-sec);
  font-weight: bold;
}
#header .header-content .col-12:last-child {
  padding-top: 2rem;
}
#header .header-content .col-12:last-child img {
  height: 20rem;
}

#tokenomics {
  width: 100%;
  background-color: #000;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
#tokenomics .container .row {
  display: grid;
  place-items: center;
  gap: 2rem;
}
#tokenomics .container .row .main-t {
  background-color: var(--white);
  border-radius: 10px;
  display: grid;
  place-items: center;
}
#tokenomics .container .row .main-t h2 {
  font-family: var(--open);
  font-weight: 700;
  font-size: 2em;
  color: var(--clr-sec);
  text-transform: capitalize;
}
#tokenomics .container .row .main-t .des {
  font-size: 1em;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
}
#tokenomics .container .row .main-t p {
  text-align: center;
  color: rgba(0, 0, 0, 0.644);
}

#footer {
  background-color: #ba9c3c;
  padding-top: 2rem;
}
#footer .container .row {
  margin: 0 auto;
}
#footer .container .row .col-12 {
  text-align: center;
  text-transform: capitalize;
}
#footer .container .row .col-12 img {
  height: 3rem;
}
#footer .container .row .col-12 p {
  color: #fff;
}
#footer .container .row .col-12 ul {
  display: flex;
  justify-content: space-between;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  gap: 2rem;
}
#footer .container .row .col-12 ul i {
  font-size: 2em;
  color: #000;
}
#footer .copy {
  background-color: var(--sec);
  text-align: center;
  margin-top: 2rem;
  color: var(--primary-clr);
  text-transform: capitalize;
}/*# sourceMappingURL=style.css.map */